*{
    padding: 0%;
    margin:0;
}

@media screen and (min-width:150px) and (max-width:700px){
   .page{
    width: 100%;
    word-wrap: break-word;
    transition: width 0 s ease;
} 
}
@media screen and (min-width:700px){
    .page{
        width: 70%;
        margin-left: 15%;
        transition: width 0 s ease;
    }
  
}
.vvi th{
    font-size: 13px;
}
body{
    background-color: lightcyan;
}
/* logo is fixed */
.logo{
    padding: 10px;
    width: 90px;
    height: 90px;
}
.mytable ,tr,td{
    border: 2px solid rgb(238, 6, 6);
    border-collapse: collapse;
}
.mytable th{
    background-color: rgb(236, 7, 7);
    
}
.p1{
    display: flex;
    width: 100%;
    gap: 18%;
    /* height:10%; */
    background-color: rgb(160, 42, 42);
    color: aliceblue;
}

.navbar{
    display: flex;
    color: aliceblue;
    background-color: rgb(1, 13, 13);
    /* text-decoration: none */
}
.navbar li{
    width: 20%;
    gap: 1px;
    display: flex;
    align-items: center;
    
}
.navbar li a{
    color: white;
}
.channel{ 
    display: flex;
}
a{
      text-decoration: none;
}
.channel li{
    list-style: none;
}
.mainjob{
    /* justify-content: center;*/
    display: flex;
}
.para1{
    border: 1.5px solid  rgb(160, 42, 42);
    margin-left: 10%;
    margin-right: 10%;
}
.para1 p{
    padding: 10px;
}
