div{
    padding-left: 5px;
    background-color: rgb(234, 223, 223);
    /* text-align: center; */
    border: 1px solid black;
 }  
div #top{
    display: inline;
}
p{
    font-size: 10px;
}
h3{
    text-align: center;
}
.mytable{
     border: 1px solid black;
    border-collapse: collapse;
}
li{
    font-size: 13px ;
}
td{
    font-size: 13px ; 
}
dl{
    font-size: 10px; font-weight: bolder
}
img{
    width: 40vh;
    height: 100%;
    margin-left: 35%;
    border-radius: 50%;
}